header {
    font-size: 1.6em;
    font-weight: bold;
}

code {
    background: lightgray;
    padding: 1px;
    margin: 2px;
}

pre {
    background: lightgray;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    font-family: monospace;
}